form {
  max-width: $text-width;
  margin: 0 auto;
  font-size: .9em;
  fieldset {
    fieldset {
      legend {
        font-weight: normal;
        color: $white;
      }
    }
    &:hover {
      border: solid 2px $neonblue;
    }
    margin-bottom: 1em;
    color: $orange;
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    border: solid 2px $tintblue;
    P {
      font-weight: normal;
      font-size: inherit;
    }
    label {
      color: $white;
      font-weight: normal;
      margin-left: .5em;
    }
    textarea {
      display: block;
      max-width: $text-width;
      min-width: 340px;
      margin: 0 auto 1em auto;
    }
    input, textarea {
      padding: .5em;
      border-radius: 3px;
      border-style: solid;
      border: solid 2px $white;
      background-color: $white;
      &:focus {
        border: solid 2px $neonblue;
        border-radius: 3px;
        outline: none;
      }
      &:hover {
        border-color: $neonblue;
      }
    }
    input[type=text] {
      height: .6em;
      margin-left: 1em;
    }
    input[type=checkbox]:checked {
      color: $neonblue;
      color: $orange;
      background-color: $orange;
    }
    ul.form {
      margin-top: .3em;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: .1em 0 .1em 0;
      }
    }
    .no-bottom-margin {
      margin-bottom: 0;
    }
  }
  button {
    width: 200px;
    height: 3em;
    float: right;
    background: rgba(0,0,0,0.1);
    border: solid 2px $tintblue;
    color: $white;
    font-weight: bold;
    outline: none;
    &:hover {
      border-color: $neonblue;
    }
    &:active {
      border-color: $orange;
    }
  }
  fieldset.personal {
    div {
      margin: 1em;
    }
    label {
      width: 50px;
      margin-right: 2em;
    }
    input[type=text] {
      width: 100%;
    }   
  }
  fieldset.home {
    div {
      input[type=radio] {
        width: 1.2em;
        height: 1.2em;
      }
      label {
        width: 30px;
      }
    }
  }
  fieldset {
    &.student,&.courses,&.support,&.home {
      div {
        margin: .3em 0 0 0;
      }
    }
    .support {
      input[type=text] {
        width: 2em;
        margin-left: 1em;
      }
    }
  }
  .hidden {
    display: none;
  }
  .margin-top {
    margin-top: .5em;
  }
  .no-margin-bottom {
    margin-bottom: .3em;
  }
  .no-left-margin {
    margin-left: 0;
  }
  .flex-group {
    display: flex;
    align-items: center;
  }
}
