body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", "Noto Sans JP", "Meiryo", "sans-serif";
  color: $white;
  background-color: $nightblue;
}

a {
  text-decoration: none;
  color: $white;
  transition: 0.3s;
  &:hover {
    color: $orange;
  }
}

p {
  font-size: 15px;
  line-height: 1.6em;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
}

h2 {
  font-size: 24px;
}

hr {
  border: 1px solid $orange;
  border-radius: 5px;
  width: ($text-width - 100px);
  @media only screen and (max-width: 480px) {
    box-sizing: border-box;
    max-width: 100%;
  }
}

.center {
  text-align: center;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
