@import 'colors';

$text-width: 560px;
$default-margin: 35px;
$header-snap: 460px;
$nav-width: 450px;

$white: #e9f3ff;
$orange: #fb9039;
$blue: #062f4f;
$lightblue: #0b3c5d;
$neonblue: #009fff;
$nightblue: #022140;
$tintblue: #05386b;

$opacity-half: #00000047;

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", "Noto Sans JP", "Meiryo", "sans-serif";
  color: $white;
  background-color: $blue;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  &:hover {
    color: $orange;
  }
}

p {
  font-size: 15px;
  line-height: 1.6em;
  color: $white;
}

h2 {
  color: $white;
}

hr {
  border: 1px solid $orange;
  border-radius: 5px;
  width: ($text-width - 100px);
}

nav {
  display: flex;
  border: 3px solid $tintblue;
  border-left: none;
  border-right: none;
  background-color: $nightblue;
  .middle {
    width: $nav-width;
  }
  .left, .right {
    flex: 1;
  }
  .right {
    text-align: right;
  }
  .hide {
    display: none;
    @media only screen and (max-width: $header-snap) {
      display: block;
    }
  }
  i {
    font-size: 36px;
  }
  ul {
    @media only screen and (max-width: $header-snap) {
      flex-direction: column;
      margin: 4px 0 4px 10px;
      padding: 0;
    }
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    li {
      font-size: 14px;
      text-transform: uppercase;
      @media only screen and (max-width: $header-snap) {
        display: none;
        font-size: 14px;
      }
    }
    li:hover ul {
      display: block;
      opacity: 1;
    }
    ul {
      @media only screen and (max-width: $header-snap) {
        display: block;
        position: relative;
        background-color: $nightblue;
        padding: 0 0 0 4px;
        opacity: 1;
        border: 0;
      }
      display: block;
      opacity: 0;
      position: absolute;
      background-color: $nightblue;
      border: 3px solid $tintblue;
      border-top: none;
      min-width: 116px;
      padding: 12px 16px;
      font-size: 14px;
      z-index: 1;
      transition: 0.3s;
      li {
        @media only screen and (max-width: $header-snap) {
          border-bottom-style: none;
          margin: 0;
        }
        text-transform: capitalize;
        font-size: 14px;
        margin-bottom: 8px;
        // border-bottom: 1px;
        // border-bottom-style: solid;
        // border-color: #a0a0a0a0;
        color: #f9f9f9;
      }
    }
  }
  .mobile-header {
    height: 40px;
    padding: 0;
  }
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center {
  text-align: center;
}

%table-data {
  color: $white;
  border-collapse: collapse;
  border-style: hidden;
  tr {
    text-align: center;
    th { 
      height: 30px;
      border: 2px solid #d0d0d0;
      padding: 4px;
      font-weight: normal;
      font-size: 14px;
    }
    td { 
      height: 30px;
      border: 2px solid #d0d0d0;
      padding: 4px;
      font-weight: normal;
      font-size: 14px;
    }
    .dark-background {
      background-color: $opacity-half;
    }
  }
  .date {
    text-align: right;
  }
}

.course-table {
  @extend %table-data;
  th:not(:first-child) {
    min-width: 110px;
  }
}

.price-table {
  @extend %table-data;
  th:not(:first-child) {
    min-width: 100px;
  }
}

.content {
  background-image: url("/img/bg.jpg");
  // background: linear-gradient(180deg, rgba(7,45,70,1) 0%, rgba(116,137,151,0) 20%, rgba(255,255,255,0) 50%, rgba(171,184,192,0) 80%, rgba(7,45,70,1) 100%), url("/img/bg.jpg");
  background-position: center;
  padding: 2em 0;
  h1, h2, h3, h4, h5, h6, p, pre, ul, ol, .media {
    max-width: $text-width;
    padding: 0 16px;
    margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    padding-bottom: 14px;
    text-decoration: underline;
    text-decoration-color: $lightblue;
    text-decoration-thickness: 3px;
  }
  h1 {
    text-decoration: underline solid $orange;
    text-decoration-thickness: 4px;
  }
  .main-header {
    font-size: 2.8em;
  }
  p {
    margin-bottom: 1em;
  }
  a {
    color: $neonblue;
    text-shadow: 2px 2px $lightblue;
    &:hover {
      color: $orange;
    }
  }
  strong {
    color: $orange;
  }
  pre {
    padding: 1.1em 1em;
    margin-bottom: .7em;
    border: dotted 1px darkgray;
    background-color: $opacity-half;
  }
  ul {
    margin-top: .8em;
    margin-bottom: .8em;
    list-style-type: none; 
  }
  ol {
    margin-top: .8em;
    margin-bottom: .8em;
    padding-left: 8em;
    // list-style-type: none; 
    li{
      margin-bottom: .4em;
    }
  } 
  table {
    margin: 30px auto;
  }
  figure {
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
  }
  .media {
    max-width: $text-width;
    text-align: center;
    iframe {
      border: solid 3px $lightblue;
    }
  }
  .logo {
    display: inline-block;
    margin: 1.6em 1em;
  }
  .date-event {
    font-size: 23px;
    font-weight: bold;
    margin-right: .7em;
    display: inline;
  }
  .title-event {
    font-size: 18px;
    font-weight: bold;
  }
  .list {
    h3 {
      font-size: 16px;
      font-weight: none;
      text-decoration: none;
      padding-bottom: .1em;
    }
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2);
  justify-items: center;
  max-width: 1030px;
  margin: 18px auto;
  grid-row-gap: 1.2em;
  @media only screen and (max-width: 985px) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4);
    max-width: $text-width;
  }
  @media only screen and (max-width: 475px) {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8);
  }
  grid-gap-row: 40px;
  margin-bottom: 26px;
  .item {
    @media only screen and (max-width: 985px) {
      height: auto;
    }
    background-color: $nightblue;
    border-radius: 2px;
    border: 2px solid $lightblue;
    align-self: start;
    width: 214px;
    height: 190px;
    padding: .8em 0;
    .center {
      text-align: center;
      .role {
        font-size: 12px;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .borders {
      margin: 14px;
      padding: 4px 0;
      border: 2px solid $orange;
      border-right: none;
      border-left: none;
      .description {
        font-size: 12px;
      }
    }
    ul {
      font-size: 12px;
      h4 {
        margin: 0;
        padding-bottom: 6px;
        margin-left: -15px;
      }
    }
  }
}

.frontpage {
  padding: 6px 0 26px 0px;
  margin: 0 0 0 0 16px;
  h2 {
    padding: 0;
  }
  p {
    padding: 0 0 .7em 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 1em;
  }
  div {
    // margin: 0 20px;
    padding: 6px 0px;
    max-width: 320px;
    th:not(:first-child) {
      min-width: 48px;
    }
  }
  .date-event {
    font-size: 23px;
    font-weight: bold;
    margin-right: .7em;
    display: inline;
  }
  .title-event {
    font-size: 18px;
    font-weight: bold;
    // display: inline;
  }
  .date-courses {
    font-weight: bold;
    font-size: 14px;
  }
  align-items: center;
}

.wide-content {
  display: flex;
  align-items: start;
  @media only screen and (max-width: 830px) {
    flex-direction: column;
  }
  justify-content: center;
  ul {
    list-style-type: none;
  }
  h2 {
    font-weight: normal;
    margin-bottom: .8em;
  }
  div {
    background-color: $nightblue;
    border-radius: 4px;
    border: 2px solid $lightblue;
    padding: 1em;
    width: 400px;
    margin: 0 20px;
    @media only screen and (max-width: 830px) {
      max-width: 320px;
      margin-bottom: 24px;
    }
  }
  .board-member {
    flex-basis: 25%;
    width: 250px;
  }
}


.footer {
  @media only screen and (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $nightblue;
  padding-bottom: 20px;
  flex: 1;
  border-top: 3px solid $tintblue;
  ul {
    list-style-type: none;
    margin: 10px;
    padding-inline-start: 0;
    li {
      margin-bottom: 5px;
      font-size: 13px;
      a {
        color: $white;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  h2 {
    margin: 25px 10px 10px 10px;
    font-size: 19px;
    border-left: 4px solid $orange;
    padding-left: .7em;
  }
  .some {
    @media only screen and (max-width: 650px) {
      margin: 0;
    }
    margin: 0 20px;
  }
  div {
    @media only screen and (max-width: 650px) {
      margin: 0;
      width: 280px;
    }
  }
}

.background-black {
  background-color: black;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  display: block;
}

.jumbotron {
  display: flex;
  color: black;
  padding: 30px 0 0 0 ;
  justify-content: center;
  background-position: 0 -20px;
  min-width: 320px;
  @media only screen and (max-width: 715px) {
    background-position: 0;
  }
  background-image: url(/img/pot-jumbotron50.jpg);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(232,255,0,0) 8%), url(/img/pot-jumbotron50.jpg);
  background-repeat: no-repeat;
  background-size: 1489px 525px;
  height: 388px;
  .overview {
    width: 726px;
    h1 {
      @media only screen and (max-width: 715px) {
        text-align: center;
      }
      @media only screen and (max-width: 350px) {
        font-size: 40px;
      }
      text-align: right;
      font-size: 56px;
      margin: 0;
      // color: #2a2a2a;
      // text-shadow: 2px -8px;
      // background: linear-gradient(90deg, rgba(0,129,172,1) 0%, rgba(182,168,0,1) 25%, rgba(164,0,0,1) 50%, rgba(0,166,139,1) 75%, rgba(161,177,0,1) 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;

      color: #ffffff;
      text-shadow: -2px 3px $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
      mix-blend-mode: multiply;
    }
    p {
      @media only screen and (max-width: 715px) {
        margin-left: 0;
        text-align: center;
        width: auto;
      }
      font-size: 20px;
      line-height: 1.4em;
      margin: 0;
      text-align: right;
      margin-left: 400px;
      color: $white;
      background: linear-gradient(135deg, rgba(47,89,0,1) 0%, rgba(107,0,0,1) 25%, rgba(0,45,115,1) 50%, rgba(113,104,0,1) 75%, rgba(0,124,118,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


.j-logo {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
}

.j-courses, .j-events, .j-intensive-courses {
  border: solid 2px white;
  padding: 10px;
}

.j-courses {
}

.j-events {
}

.j-intensive-courses {
}

#logo {
  height: 300px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  color: white;
  background-image: url('/img/front-page/call-to-action-blur.jpg');
  background-size: 1000px;
}

$call-to-action-image-width: 266px;
$call-to-action-image-size: 800px;


.supporting-members, .courses, .blog {
  width: $call-to-action-image-width;
  height: 330px;
  border: solid 1px white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/front-page/call-to-action.jpg');
  background-size: $call-to-action-image-size;
  background-repeat: no-repeat;
  background: linear-gradient(fgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  h2, p {
    padding: 0px 20px;
  }
  filter: blur(0);
}

.supporting-members {
}

.courses {
  background-position-x: -$call-to-action-image-width;
}

.blog {
  background-position-x: -$call-to-action-image-width*2;
}

.students-club {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: $default-margin 0;
  img {
    display: block;
    margin: 16px;
  }
}

.left-logos, .right-logos {
}

.students-club-ad {
    width: $text-width;
}


.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  color: black;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

