<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $styles := resources.Get "sass/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    {{ range .Page.Params.customCSS }}
      <link rel="stylesheet" href="/tanssikerho/customCSS/{{ . }}"  media="all">
    {{ end }}
    <link rel="icon" type="image/svg+xml" href="/tanssikerho/favicon.svg">
    <!-- <link rel="alternate icon" href="/tanssikerho/favicon.ico"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pohjalaisten Tanssikerho</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175353356-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-175353356-1');
    </script>

  </head>
  <body>

    <div class="container">

      {{ block "header" . }}
      <nav>

        <div class="left"> </div>

        <div class="middle">

          <span class="hide mobile-header">
            <a href="#" onclick="toggleMobileMenu()"><div class="logo-bullet"></div><span class="mobile-menu">menu</span></a>

            <script>
              function toggleMobileMenu() {
                document.querySelector(".mobile-header .logo-bullet").classList.toggle('highlight')
                document.querySelector("nav ul").classList.toggle("visible")
                let menuList = document.querySelectorAll("nav ul li")
                let display = (menuList[0].style.display == "") ? "block" : ""
                for (i = 0; i< menuList.length; i++) {
                  menuList[i].style.display = display
                }
              }
            </script>

          </span>

          <ul>
            {{ range .Site.Params.navigation.header }}
            <li><a href="/tanssikerho/{{ .item.url }}"><div class="logo-bullet"></div>{{ .item.label | upper}}</a>
              {{ with .item.subdir }}
                <ul>
                  {{ range . }}
                    {{ if ne (len (index $.Site.Taxonomies.subdirectories .sub)) 0 }}
                      {{ with .title }}
                        <li><h4>{{ . }}</h4></li>
                      {{ end }}
                      {{ if eq .sub "tapahtuma" }}

                        {{ $events := where $.Site.RegularPages "Section" "tapahtuma" }}
                        {{ $events := $events | intersect (where $events "Date" "ge" now) | first 3 }}

                        {{ if eq ($events | len) 0 }}
                        <li>Ei tulevia tapahtumia tällä hetkellä. Menneitä tapahtumia voi katsella <a href="/tanssikerho/tapahtuma" class="blue-link">tapahtuma-sivuilta</a>.</li>
                        {{ else }}

                          {{ range $events }}
                            <div class="menu-item">
                              <li class="sm-margin"><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></li>
                              {{ with .Page.Params.date }} <li class="sm-print"> {{ dateFormat "2006.01.02" . }}</li> {{ end }}
                              {{ with .Page.Params.address }} <li class="sm-print"> {{ . }}</li> {{ end }}
                              {{ with .Page.Params.clock }} <li class="sm-print"> {{ . }}</li> {{ end }}
                            </div>
                          {{ end }}
                        {{ end }}
                      {{ else }}
                        {{ range (index $.Site.Taxonomies.subdirectories .sub) }}
                          <li><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </ul>
                {{ end }}
            </li>
            {{ end }}

            {{ if eq .Title "Kurssit" }} 
            <li class="uppercase"><a href="{{ .Site.BaseURL}}/kurssi"><div class="logo-bullet"></div>{{ .Title | upper }}</a>
              <ul>
                {{ range .Site.Taxonomies.categories.kurssi }}
                <li><a href="{{ .RelPermalink }}">{{ .Title}}</a></li>
                {{ end }}
              </ul>
            </li>
            {{ else }}
            {{ end }}
          </ul>

      </div><div class="right"></div>
      </nav>

      {{ end }}

      <div class="content">
        {{ block "main" . }} {{ end }}
      </div>

      {{ block "footer" . }}
      <div class="footer">

        <div class="general">
          <div class="logo-bullet"></div>
          <h2 class="sub-header">Pohjalaisten tanssikerho ry</h2>
          <ul>
            {{ range .Site.Taxonomies.categories.ry }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="some">
          <div class="logo-bullet"></div>
          <h2>Yhteystiedot ja some</h2>
          <ul>
            <li><a href="https://www.facebook.com/groups/pot.tanssikerho/">Facebook</a></li>
            <li><a href="{{ ref . "whatsapp.md" }}">WhatsApp</a></li>
            <li><a href="{{ ref . "sahkopostilista.md" }}">Sähköpostilista</a></li>
            <li><a>pohjalaistentanssikerho . ry (ät) gmail . com</a></li>
          </ul>
        </div>

        <div class="contacts">
          <div class="logo-bullet"></div>
          <h2>Osoite</h2>
          <ul>
            <li>
              <span>{{ .Site.Params.address }}</span>
            </li>
            <li><a href="https://reittiopas.hsl.fi/T%C3%B6%C3%B6l%C3%B6nkatu%203%2C%20Helsinki%3A%3A60.173962%2C24.931228/-/lahellasi">Avaa Reittioppaalla</a></li>
            <li><a href="https://www.google.com/maps/place/T%C3%B6%C3%B6l%C3%B6nkatu+3,+00101+Helsinki/">Avaa Google Mapsilla</a></li>
          </ul>
        </div>

        <div class="bottom-fill"></div>

      </div>
      {{ end }}
    </div>

    <script>
      let resizeTimer;
      window.addEventListener("resize", () => {
        document.body.classList.add("resize-animation-stopper");
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(() => {
          document.body.classList.remove("resize-animation-stopper");
        }, 400);
      });
    </script>

  </body>
</html>
