{{ define "header" }}
{{ end }}

{{ define "main" }}
{{ with .Site.GetPage "/etusivu.md" }}

<div class="jumbotron">
  <h1 class="main-header">{{ .Title }}</h1>
  <p class="main-description"><em>{{ .Description }}</em></p>

  {{ with .Site.GetPage "/tiedote.md" }}
  <div class="wide-width">
    <div class="announcement blue-background">
      {{ .Content }}
    </div>
  </div>
  {{ end }}

  <div class="wide-content frontpage">

    {{ $courses := index .Site.Data.courses "courses" }}
    {{ $firstThree := first 3 (sort (where $courses "date" "ge" (now.Format "2006-01-02")) "date" "asec") }}
    <div id="nextThreeCourses">
      <h2>Seuraavat kurssit</h2>

      <!-- <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script> -->
      <!-- <script src="https://apis.google.com/js/api.js"></script> -->
      <!-- {{ $firstThreeCourses := resources.Get "/js/firstThreeCourses.js" }} -->
      <!-- <script src="{{ $firstThreeCourses.Permalink }}"></script> -->

      {{ if eq ($firstThree | len) 0 }}
      <p>Kurssien suunnittelu käynnissä, lisätietoa tulossa.</p>
      <!-- <p>Kurssien alkamisajankohdan muistutuksen voi tilata sähköpostiin. Sähköpostia käytetään vain tähän tarkoitukseen, ja muistutuksen jälkeen sähköpostiosoite poistetaan järjestelmästä pysyvästi.</p> -->
      {{ else }}
      <table class="course-table">
        <tr>
          <th></th>
          {{ range $firstThree }}
          {{ $t := time .date }}
          <th class="date-courses">{{ $t.Day }}.{{ printf "%d" $t.Month }}.</th>
          {{ end }}
        </tr>
        <!-- <tr> -->
        <!--   <th>Alkeet -->
        <!--   {{ range $firstThree }} -->
        <!--   {{ if eq .message "" }} -->
        <!--   <td class="trigger">{{ .alkeetOma }}</td> -->
        <!--   {{ else }} -->
        <!--   <td rowspan="4" class="trigger"><span class="vertical-text">{{ .message | upper }}</span></td> -->
        <!--   {{ end }} -->
        <!--   {{ end }} -->
        <!-- </tr> -->
        <tr>
          <th>Alkeet </th>
          {{ range $firstThree }}
          {{ if eq .message "" }}
          <td class="trigger">{{ .alkeet }}</td>
          {{ else }}
          <td rowspan="4" class="trigger"><span class="vertical-text">{{ .message | upper }}</span></td>
          {{ end }}
          {{ end }}
        </tr>
        <tr>
          <th>Alkeisjatko</th>
          {{ range $firstThree }}
          {{ if eq .message "" }}
          <td>{{ .alkeisjatko }}</td>
          {{ end }}
          {{ end }}
        </tr>
        <tr>
          <th>Jatko</th>
          {{ range $firstThree }}
          {{ if eq .message "" }}
          <td>{{ .jatko }}</td>
          {{ end }}
          {{ end }}
        </tr>
      </table>
      <p>Blogeista löytyy <a href="{{ ref . `/tanssilajit.md` }}">lyhyet esittely kustakin lajeista</a>.</p>
    {{ end }}
    </div>

    <div>
      <h2>Tapahtumat</h2>

      {{ $events := where (where .Site.RegularPages "Section" "tapahtuma") "Date" "ge" now | last 3 }}

      {{ if eq ($events | len) 0 }}
      <p>Tapahtumat jatkuvat tammikuussa!</p>
      {{ else }}
      <ul>
        {{ range (sort $events "Date" "asec")}}
        <li><span class="date-event">{{ .Date.Format "02.01." }}</span><span class="title-event"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
          {{ with .Params.description }}
          <p>{{ . }} </p>
          {{ end }}
        </li>
        {{ end }}
      </ul>
      {{ end }}
      <p>Löydä kaikki tapahtumat <a href="/tapahtuma">tapahtuma-sivuilta</a>.</p>
    </div>
  </div>
</div>

{{ .Content }}
{{ end }}
{{ end }}

{{ define "footer" }}
{{ end }}
