{{ define "main" }}

  {{ if eq .Section "kurssi" }}

  <div class="list">
    {{ range index .Site.Taxonomies.subdirectories "kurssi_yleista" }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
    {{ end }}

    <h1>Kurssitarjonta</h1>
    {{ range index .Site.Taxonomies.subdirectories "kurssi_kausi" }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
    {{ end }}
  </div>

  {{ end }}

  {{ if eq .Section "blogi" }}
  <div class="list">
    {{ range .Pages }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
    {{ end }}
  </div>
  {{ end }}

  {{ if eq .Section "tapahtuma" }}
  <h1>Tapahtumat ja tiedotteet</h1>
  <div class="list">
    {{ range .Pages.ByDate.Reverse }}
        <h1 class="no-bottom no-decoration">{{ .Params.articleTitle }}</h1>
        <ul class="event-item-head">
          <li>{{ with .Params.address }}{{ . }}{{ end }}</li>
          <li><div class="logo-bullet"></div>{{ with .Date }}{{ dateFormat "02.01.2006" . }}{{ end }}</li>
          <li><div class="logo-bullet"></div>{{ with .Params.clock }}{{ . }}{{ end }}</li>
        </ul>
        <p>{{ .Summary | markdownify}}</p>
      {{ if .Truncated }}
      <p><a href="{{ .Permalink }}">Lue lisää...</a><p>
      {{ end }}
    {{ end }}
  </div>
  {{ end }}

{{ end }}
