{{ define "main" }}

  {{ if eq .Section "kurssi" }}

  <div class="list">
    {{ range index .Site.Taxonomies.subdirectories "kurssi_yleista" }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
    {{ end }}

    <h1>Kurssitarjonta</h1>
    {{ range index .Site.Taxonomies.subdirectories "kurssi_kausi" }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
    {{ end }}
  </div>

  {{ end }}

  {{ if eq .Section "blogi" }}
  <div class="list">
    {{ range .Pages }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
    {{ end }}
  </div>
  {{ end }}

  {{ if eq .Section "tapahtuma" }}
  <div class="list events">
    {{ range .Pages.ByDate.Reverse }}
        <a href="{{ .Permalink }}">
          <h1 class="no-bottom no-decoration">{{ .Params.articleTitle }}</h1>

          <ul class="event-item-head">
            <li>{{ with .Params.address }}{{ . }}{{ end }}</li>
            <li><div class="logo-bullet"></div>{{ with .Date }}{{ dateFormat "2006.01.02" . }}{{ end }}</li>
            <li><div class="logo-bullet"></div>{{ with .Params.clock }}{{ . }}{{ end }}</li>
          </ul>

          <p>{{ .Summary | markdownify}}</p>
          {{ if .Truncated }}
            <p>Lue lisää...</p>
          {{ end }}
        </a>
    {{ end }}
  </div>
  {{ end }}

{{ end }}
