{{ define "main" }}

  {{ with .Params.articleTitle }}<h1 class="no-bottom no-max-width">{{ . }}</h1>{{ end }}

  <ul class="event-item-head">
    <li>{{ with .Params.address }}{{ . }}{{ end }}</li>
    <li><div class="logo-bullet"></div>{{ with .Date }}{{ dateFormat "02.01.2006" . }}{{ end }}</li>
    <li><div class="logo-bullet"></div>{{ with .Params.clock }}{{ . }}{{ end }}</li>
  </ul>

  <ul class="event-item-address">
    <li><div class="logo-bullet"></div>Avaa osoite
      <!-- the following links are displayed on every event -->
      <a href="https://www.google.com/maps/search/{{ .Params.address }}">
      Google Mapsilla
    </a> tai <a href="https://reittiopas.hsl.fi/reitti/-/{{ .Params.address }}%2C%20Helsinki%3A%3A60.173962%2C24.931228/?arriveBy=false&locale=fi">
      Reittioppaalla
    </a></li>
  </ul>

  <div class="logo-break">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>

  {{ .Content }}

  {{ with .Page.Params.vue }}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  {{ end }}

  {{ range .Page.Params.js }}
  {{ $js := resources.Get ( . | printf "%s%s" "js/" ) | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
  {{ end }}

{{ end }}
