<div>
  {{ $courses := first 3 (sort (where .Site.Data.courses ".date" "ge" (now.Format "2006-01-02")) ".date" "asec") }}
  <table>
    <tr>
      <th></th>
      {{ range $courses }}
      {{ $t := time .date }}
      <th>{{ $t.Day }}.{{ printf "%d" $t.Month }}.</th>
      {{ end }}
    </tr>
    <tr>
      <th>Alkeiset</th>
      {{ range $courses }}
      <th class="trigger">{{ .alkeiset }}</th>
      {{ end }}
    </tr>
    <tr>
      <th>Alkeisjatko</th>
      {{ range $courses }}
      <th>{{ .alkeisjatko }}</th>
      {{ end }}
    </tr>
    <tr>
      <th>Jatko</th>
      {{ range $courses }}
      <th>{{ .jatko }}</th>
      {{ end }}
    </tr>
  </table>
</div>

        <div class="modal">
          <div class="modal-content">
            <span class="close-button">&times;</span>
            <h1>Foo.</h1>
          </div>
        </div>

        <script>
          var modal = document.querySelector(".modal");
var trigger = document.querySelector(".trigger");
var closeButton = document.querySelector(".close-button");

function toggleModal() {
  modal.classList.toggle("show-modal");
}

function windowOnClick(event) {
  if (event.target === modal) {
    toggleModal();
  }
}

trigger.addEventListener("click", toggleModal);
closeButton.addEventListener("click", toggleModal);
window.addEventListener("click", windowOnClick);
        </script>

        <div class="announcement">
          <!-- <h2>Ilmoitusasiat</h2> -->
          <ul>
            <li>Tapahtuma 1 jossain.</li>
            <li>Tapahtuma 2 jossain.</li>
            <li>Tapahtuma 3 jossain.</li>
            <li>Tapahtuma 4 jossain.</li>
          </ul>
        </div>
