Käytössä on kaksi tanssisalia. DJ:t soittavat modernia nuorekasta lavatanssimusiikkia (valssit, tangot, foksit, slovarit, jenkka, humppa jne.), rock&swingejä (mm. bugg, fusku, lindy hop, boogie woogie, west coast swing) ja lattareita (salsa, bachata, rumba bolero, cha cha) monipuolisesti. Isossa salissa tanssimusiikki soi koko illan kappalepareittain. Pienessä salissa musiikki soi jaksotettuna lajeittain - laji tunti kerrallaan:  
{{ .Get 0 }} klo 18-19  
{{ .Get 1 }} klo 19-20  
{{ .Get 2 }} klo 20-21  
{{ .Get 3 }} klo 21-22  
{{ .Get 4 }} klo 22-23  
🎺🎷🎼