Tanssiaisissa on vapaa sekahaku. Haetaan kohteliaasti toisiamme tanssimaan. Yleensä tapana on tanssia kaksi kappaletta uuden tanssiparin kanssa ennen parinvaihtoa.
Etenevissä tanssilajeissa tanssisuunta on vastapäivään salia ympäri kiertäen
ja vähemmän liikkuvissa/paikoillaan tanssittavissa lajeissa tanssialue on keskemmällä tanssilattiaa.💃🕺

Tanssisalien välissä on aulatila, mistä löytyy musiikkilistat tanssilajeineen.
Tilassa on myös hyvä levätä ja istuskella tanssien lomassa ja tutustua tanssikavereihin ja nauttia tarjoiluista.
Tarjolla on pientä syötävää sekä juotavaa pitämään tanssijalat liikkeessä! 🎉

POTilla on kiva tanssia, ja kaikki toivotetaan tervetulleeksi lattialle avosylin taitotasoon katsomatta - kokeneemmat tanssijat
ottavat aloittelevat tanssijat ystävällisesti vastaan. Lisäksi musiikista löytyy runsaasti alkeiskurssilla tutuiksi tulleita tanssilajeja.
Mikäli olet aloittelemassa tanssimista voit sanoa olevasi aloittelija, niin pidempään tanssineet huomioivat ystävällisesti tämän.
Tärkeintä bileissä ei ole tanssitaidot, vaan hauska, rento tunnelma! 🙂

Suunnistamisohjeet Bottalle: Manala ravintolan vierestä Töölönkatu 3A Bottan ulko-ovesta sisään, portaita tai hissillä ylös Pohjalaisten osakuntien
tanssitaivasta kohti 5. krs. Oven avaamalla saavut 5. krs aulaan jonka vieressä tanssisalit sijaitsevat.

Jos sinulla herää kysymyksiä tansseista, voit olla yhteydessä {{ .Site.Params.email }}
