Lämpimästi tervetuloa nykyiset sekä entiset tanssikerholaiset: POT ja HOT ja osakuntalaiset: EPO, PPO ja VN.
Lisäksi tervetulleita ovat myös avecit, kaikki korkeakouluopiskelijat sekä vierailijaluvalliset.
Vierailijalupaa pystyy hakemaan seuraavan
[lomakkeen](https://docs.google.com/forms/d/e/1FAIpQLScrjW8uJKed_StRxnW8Wpz5poZepa2AVbaAFU1fV8REQ6Odig/viewform?usp=sf_link) kautta.

Nykyiset sekä ex tanssikerholaiset POT tai HOT ja osakuntalaiset (PPO, EPO, VN) voivat tuoda mukanaan avecin.
Kaikki kerhon kausitanssikursseilla kävijät ovat kerhon jäseniä. Kirjaathan nimesi paikalle saapuessa vieraskirjaan, kiitos 🙂