<div class="board">
  {{ range .Site.Data.board }}
  <div class="item">
      <!-- <img src="https://via.placeholder.com/214x220" alt=""> -->
    <div class="center">
      <span class="role">{{ .role }}</span>
    </div>
    <div class="center">
      <span class="name">{{ .firstname }} {{ .lastname }}</span>
    </div>
    {{ with .description }}
    <div class="borders">
      <span class="description">{{ . }}</span>
    </div>
    {{ end }}
    <ul class="previous-roles">
      {{ with .previousroles }}
      <lh><h4>Aikaisemmat virat</h4></lh>
      {{ end }}
      {{ range .previousroles }}
      <li>
        <span>{{ .year }}</span>
        <span>{{ .role }}</span>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end}}
</div>
