<div class="board">
  {{ range .Site.Data.board }}
  <div class="item">
    <div class="hidden-description">
      {{ with .picture }}
      <img src="/img/board/{{ . }}">
      {{ else }}
      <div class="logo-shape"></div>
      {{ end }}
    </div>
    <div class="fill"></div>
      <div class="center">
        <span class="role">{{ .role }}</span>
      </div>
      <div class="center">
        <span class="name">{{ .firstname }} {{ .lastname }}</span>
      </div>
      <div class="center">
      <div class="email">{{ .email }}</div>
      </div>
  </div>
  {{ end}}
</div>
