{{ if eq (.Get 0) "all" }}
<ul>
{{ range .Site.Data.coursesMeta }}
{{ $course := index . 0 }}
  <li> {{ $course.name }} kello {{ $course.start }} - {{ $course.end }} </li>
{{ end }}
</ul>
{{ else if eq (.Get 0) "alkeisjatko" }}
{{ $course1 := index .Site.Data.coursesMeta "alkeisjatko1" }}
{{ range $course1 }}
Kurssi 1 pidetään tiistaisin klo {{ .start }} - {{ .end }}.
{{ end }}
{{ $course2 := index .Site.Data.coursesMeta "alkeisjatko2" }}
{{ range $course2 }}
Kurssi 2 pidetään tiistaisin klo {{ .start }} - {{ .end }}.
{{ end }}
{{ else }}
{{ $course := index .Site.Data.coursesMeta (.Get 0) }}
{{ range $course }}
<!-- Kurssin ohjaajana toimii {{ .teacher }}. Kurssi on tiistaisin ja alkaa kello {{ .start }} ja loppuu kello {{ .end }}. -->
Kurssi pidetään tiistaisin klo {{ .start }} - {{ .end }}.
{{ end }}
{{ end }}
