{{ $show := .Get 0 }}
<table class="course-table">
{{ range sort .Site.Data.courses ".date" "asec" }}
{{ if eq .message "" }}
<tr>
  {{ $t := time .date }}
  <th class="date">{{ $t.Day }}.{{ printf "%d" $t.Month }}</th>
  {{ if eq $show "alkeet" }}
  <td>{{ .alkeet }}</td>
  {{ end }}
  {{ if eq $show "alkeetOma" }}
  <td>{{ .alkeetOma }}</td>
  {{ end }}
  {{ if eq $show "alkeisjatko" }}
  <td>{{ .alkeisjatko }}</td>
  {{ end }}
  {{ if eq $show "jatko" }}
  <td>{{ .jatko }}</td>
  {{ end }}
</tr>
{{ else }}
<tr>
  {{ $t := time .date }}
  <th>{{ $t.Day }}.{{ printf "%d" $t.Month }}</th>
  <td>{{ .message }}</td>
</tr>
{{ end }}
{{ end }}
</table>

