{{ if eq (.Get 0) "all" }}
<table class="course-table">
  <tr>
    <th></th>
    <th>Alkeiset</th>
    <th>Alkeiset <br> oma pari</th>
    <th>Alkeisjatko</th>
    <th>Jatko</th>
  </tr>
  {{ range sort .Site.Data.courses ".date" "asec" }}
  {{ if eq .message "" }}
  <tr>
    {{ $t := time .date }}
    <th class="date">{{ $t.Day }}.{{ printf "%d" $t.Month }}</th>
    <th>{{ .alkeiset }}</th>
    <th>{{ .alkeisetOma }}</th>
    <th>{{ .alkeisjatko }}</th>
    <th>{{ .jatko }}</th>
  </tr>
  {{ else }}
  <tr>
    {{ $t := time .date }}
    <th>{{ $t.Day }}.{{ printf "%d" $t.Month }}</th>
    <th colspan="4">{{ .message }}</th>
  </tr>
  {{ end }}
  {{ end }}
</table>
{{ end }}

{{ if eq (.Get 0) "firstThree" }}
{{ $courses := first 3 (sort (where .Site.Data.courses ".date" "ge" (now.Format "2006-01-02")) ".date" "asec") }}
<div>
<h2>Tapahtumat ja tiedotteet</h2>
{{ if eq ($courses | len) 0 }}
<p>Viikottaiset kurssit ovat loppu tältä erää. Ensi kaudella taas lisää!</p>
<p>Kurssien alkamisajankohdan muistutuksen voi tilata sähköpostiin. Sähköpostia käytetään vain tähän tarkoitukseen, ja muistutuksen jälkeen sähköpostiosoite poistetaan järjestelmästä pysyvästi.</p>
{{ else }}
<table class="course-table">
  <tr>
    <th></th>
    {{ range $courses }}
    {{ $t := time .date }}
    <th>{{ $t.Day }}.{{ printf "%d" $t.Month }}.</th>
    {{ end }}
  </tr>
  <tr>
    <th>Alkeiset</th>
    {{ range $courses }}
    <th class="trigger">{{ .alkeiset }}</th>
    {{ end }}
  </tr>
  <tr>
    <th>Alkeiset <br> oma pari</th>
    {{ range $courses }}
    <th class="trigger">{{ .alkeisetOma }}</th>
    {{ end }}
  </tr>
  <tr>
    <th>Alkeisjatko</th>
    {{ range $courses }}
    <th>{{ .alkeisjatko }}</th>
    {{ end }}
  </tr>
  <tr>
    <th>Jatko</th>
    {{ range $courses }}
    <th>{{ .jatko }}</th>
    {{ end }}
  </tr>
</table>
</div>
{{ end }}
{{ end }}
