{{ if eq (.Get 0) "all" }}
<table class="course-table">
  <tr>
    <th></th>
    <th>Alkeet</th>
    <!-- <th>Alkeet <br> klo 18:45</th> -->
    <th>Alkeisjatko</th>
    <!-- <th>Jatko</th> -->
  </tr>
  {{ $courses := index .Site.Data.courses "courses" }}
  {{ range sort $courses "date" "asec" }}
  {{ if eq .message "" }}
  <tr>
    {{ $t := time .date }}
    <th class="date">{{ $t.Day }}.{{ printf "%d" $t.Month }}.</th>
    <!-- <td>{{ .alkeetOma }}</td> -->
    <td>{{ .alkeet }}</td>
    <td>{{ .alkeisjatko }}</td>
    <!-- <td>{{ .jatko }}</td> -->
  </tr>
  {{ else }}
  <tr>
    {{ $t := time .date }}
    <th class="date">{{ $t.Day }}.{{ printf "%d" $t.Month }}.</th>
    <td colspan="4">{{ .message }}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>
{{ end }}

{{ if eq (.Get 0) "firstThree" }}
{{ $courses := index .Site.Data.courses "courses" }}
{{ $course := first 3 (sort (where $courses "date" "ge" (now.Format "2006-01-02")) "date" "asec") }}
<div>
<h2>Seuraavat kurssit</h2>
{{ if eq ($course | len) 0 }}
<p>Viikottaiset kurssit ovat loppu tältä erää. Ensi kaudella taas lisää!</p>
<p>Kurssien alkamisajankohdan muistutuksen voi tilata sähköpostiin. Sähköpostia käytetään vain tähän tarkoitukseen, ja muistutuksen jälkeen sähköpostiosoite poistetaan järjestelmästä pysyvästi.</p>
{{ else }}
<table class="course-table">
  <tr>
    <th></th>
    {{ range $course }}
    {{ $t := time .date }}
    <th class="date-courses">{{ $t.Day }}.{{ printf "%d" $t.Month }}.</th>
    {{ end }}
  </tr>
  <tr>
    <th>Alkeet</th>
    {{ range $course }}
    {{ if eq .message "" }}
    <td class="trigger">{{ .alkeet }}</td>
    {{ else }}
    <td rowspan="4" class="trigger"><span class="vertical-text">{{ .message | upper }}</span></td>
    {{ end }}
    {{ end }}
  </tr>
  <!-- <tr> -->
  <!--   <th>Alkeet <br> oma pari</th> -->
  <!--   {{ range $course }} -->
  <!--   {{ if eq .message "" }} -->
  <!--   <td class="trigger">{{ .alkeetOma }}</td> -->
  <!--   {{ end }} -->
  <!--   {{ end }} -->
  <!-- </tr> -->
  <tr>
    <th>Alkeisjatko</th>
    {{ range $course }}
    {{ if eq .message "" }}
    <td>{{ .alkeisjatko }}</td>
    {{ end }}
    {{ end }}
  </tr>
  <!-- <tr> -->
  <!--   <th>Jatko</th> -->
  <!--   {{ range $course }} -->
  <!--   {{ if eq .message "" }} -->
  <!--   <td>{{ .jatko }}</td> -->
  <!--   {{ end }} -->
  <!--   {{ end }} -->
  <!-- </tr> -->
</table>
<p>Lyhyt esittely kustakin lajista löytyy <a href="{{ ref . `/tanssilajit.md` }}">blogista</a>.</p>
</div>
{{ end }}
{{ end }}
