<div>
  <h2>Tapahtumat ja tiedotteet</h2>
  {{ $events := index .Site.Data.events "events" }}
  {{ if eq ($events | len) 0 }}
  <p>Tällä hetkellä ei ole bileitä tai tapahtumia tiedossa.</p>
  {{ else }}
  <ul>
    {{ range first 3 (sort (where $events "date" "ge" (now.Format "2006-01-02")) "date" "asec") }}
    {{ $t := time .date }}
    <li><span class="date-event">{{ $t.Day }}.{{ printf "%d" $t.Month }}.</span><span class="title-event">{{ .title }}</span>
      {{ with .description }}
      <p>{{ . | markdownify }}</p>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>

