<table class="price-table">
  <tr>
    <th colspan="2"></th>
    <th>Alkeet</th>
    <th>Alkeet <br> oma pari</th>
    <th>Alkeisjatko</th>
    <th>Jatko</th>
  </tr>
  <tr>
    <th rowspan="2"> * VN <br> PPO <br> EPO</th>
    <td class="dark-background">hinta</td>
    {{ range .Site.Data.prices.osakuntalainen }}
    <td class="dark-background">{{ .price }}</td>
    {{ end }}
  </tr>
  <tr>
    <td>viite</td>
    {{ range .Site.Data.prices.osakuntalainen }}
    <td>{{ .ref }}</td>
    {{ end }}
  </tr>
  <tr>
    <th rowspan="2">**opiskelija</th>
    <td class="dark-background">hinta</td>
    {{ range .Site.Data.prices.opiskelija }}
    <td class="dark-background">{{ .price }}</td>
    {{ end }}
  </tr>
  <tr>
    <td>viite</td>
    {{ range .Site.Data.prices.opiskelija }}
    <td>{{ .ref }}</td>
    {{ end }}
  </tr>
  <tr>
    <th rowspan="2">muut</th>
    <td class="dark-background">hinta</td>
    {{ range .Site.Data.prices.muut }}
    <td class="dark-background">{{ .price }}</td>
    {{ end }}
  </tr>
  <tr>
    <td>viite</td>
    {{ range .Site.Data.prices.muut }}
    <td>{{ .ref }}</td>
    {{ end }}
  </tr>
</table>
