<section class="desktop">
  {{ if eq (.Get "imgPlacement") "left" }}
  <div class="image" style="
                            height: {{ add (int (.Get `height`)) 32 }}px;
                            background-image: url('/tanssikerho/img/picture/desktop/{{ .Get `src` }}');
                            border-right: 2px solid #0b3c5d;
                            "></div>
  <div class="content" style="height: {{ (.Get `height`) }}px;">{{ .Inner | markdownify }}</div>
  {{ end }}

  {{ if eq (.Get "imgPlacement") "right" }}
  <div class="content" style="height: {{ (.Get `height`) }}px;">{{ .Inner | markdownify }}</div>
  <div class="image" style="
                            height: {{ add (int (.Get `height`)) 32 }}px;
                            background-image: url('/tanssikerho/img/picture/desktop/{{ .Get `src` }}');
                            border-left: 2px solid #0b3c5d;
                            "></div>
  {{ end }}
</section>
<div class="mobile">
  {{ .Inner | markdownify }}
  <figure>
    <img class="media" src="/tanssikerho/img/picture/mobile/{{ .Get `src` }}" >
  </figure>
</div>
